 /* #div1{
    width: 1000px;
    height: 10000px;
    margin: auto;
    text-align: center;
}  */

/* #lightOff{
    width: 300px;
    height: 300px;
    margin: auto;
}

#lightOn{
    width: 300px;
    height: 300px;
    margin: auto;
} */


.hide{
	display: none;
}

  